
/** colors **/
@color-default:       #2d4054;
@color-white:         #ffffff;
@color-yellow:        #ff9a2a;
@color-green:         #7fbc39;
@color-blue:          #00b4cf;
@color-dark-blue:     #01869a;
@color-light-black:   #435466;
@color-black:         #2d4054;
@color-gray:          #e1e4e6;
@color-light-gray:    #f3f3f3;

@color-selected:      #efefef;
@color-menu-selected: rgba(0, 0, 0, 0.2);
@color-hover:         #0084cf;
@body-background:       @color-light-gray;

/** fonts size **/
@font-size-base:    14px;
@font-size-sm:      12px;
@font-size-md:      16px;
@font-size-lg:      20px;
@font-line-height:  1.42857143;

/** buttons **/
@button-height:     30px;

/** icons **/
@icon-size-lg:      20px;
@icon-size-sm:      16px;

/** height **/
@header-height:     70px;
@footer-height:     30px;






