<div class="clearfix resource-panel">
    ${require('./resource-card.html')}
    ${require('./resource-card.html')}
    ${require('./resource-card.html')}
    ${require('./resource-card.html')}
    ${require('./resource-card.html')}
    ${require('./resource-card.html')}
    ${require('./resource-card.html')}
    ${require('./resource-card.html')}
    ${require('./resource-card.html')}
    ${require('./resource-card.html')}
    ${require('./resource-card.html')}
    ${require('./resource-card.html')}
    ${require('./resource-card.html')}
    ${require('./resource-card.html')}
    ${require('./resource-card.html')}
    ${require('./resource-card.html')}
    ${require('./resource-card.html')}
    ${require('./resource-card.html')}
    ${require('./resource-card.html')}
    ${require('./resource-card.html')}
    ${require('./resource-card.html')}
    ${require('./resource-card.html')}
    ${require('./resource-card.html')}
    ${require('./resource-card.html')}
    ${require('./resource-card.html')}
</div>