<div class="resource-card margin-top-md">
  <div class="resource-card-icon-wrap">
    <img src="../../assets/os icons/windows.png" alt="">
  </div>
  <div class="resource-card-article">
    <div class="row">
      <div class="col-5">
        sssssssss
      </div>
      <div class="col-1">
          sssssssss
      </div>
      <div class="col-3">
          sssssssss
      </div>
      <div class="col-3">
          sssssssss
      </div>
    </div>
    <div class="row">
      <div class="col-10">
          sssssssss
      </div>
      <div class="col-2">
          sssssssss
      </div>
    </div>
  </div>
</div>