<div class="resource-card">
  <div class="resource-card-icon-wrap">
    <img src="../../assets/os-icons/windows.png" alt="">
  </div>
  <div class="resource-card-article">
    <div class="row resource-card-description">
      <div class="col-5">
        <i class="cruise icon-desktop"></i>
        <span>bjstdmngbdr01.thoughtworks.com</span>
      </div>
      <div class="col-1">
        <span>idle</span>
      </div>
      <div class="col-3">
          <span>192.168.1.102</span>
      </div>
      <div class="col-3">
          <span>/var/lib/cruise-agent</span>
      </div>
    </div>
    <div class="row resource-card-operation">
      <div class="col-10">
          <span class="">
            <i class="cruise icon-plus"></i>
          </span>
          <p>
            <span class="resource-label">Firefox</span>
            <span>Firefox <i class="cruise icon-trash"></i></span>
            <span>Firefox</span>
            <span>Firefox</span>
            <span>Firefox</span>
            <span>Firefox</span>
            <span>Firefox</span>
            <span>Firefox</span>
            <span>Firefox</span>
          </p>
      </div>
      <div class="col-2">
          <button type="button float-right">
            Deny
          </button>
      </div>
    </div>
  </div>
</div>