<div class="row overview">

  <div class="col-4 overview-item">
    <div class="overview-card overview-card-building">
      <div class="row">
        <div class="col-6">
          <p class="overview-card-title">Building</p>
        </div>
        <div class="col-6">
          <p class="overview-card-remark">3</p>
        </div>
      </div>
      <i class="cruise icon-cog overview-card-icon"></i>
    </div>
  </div>

  <div class="col-4 overview-item">
    <div class="overview-card overview-card-idle">
      <div class="row">
        <div class="col-6">
          <p class="overview-card-title">Idle</p>
        </div>
        <div class="col-6">
          <p class="overview-card-remark">5</p>
        </div>
      </div>
      <i class="cruise icon-coffee overview-card-icon"></i>
    </div>
  </div>

  <div class="col-4 overview-item">
    <div class="overview-card overview-card-totle">
      <div class="col-4">
        <p class="overview-card-totle-title">ALL</p>
        <p class="overview-card-totle-remark">8</p>
      </div>
      <div class="col-4">
        <p class="overview-card-totle-title">PHYSICAL</p>
        <p class="overview-card-totle-remark">4</p>
      </div>
      <div class="col-4">
        <p class="overview-card-totle-title">VIRIUAL</p>
        <p class="overview-card-totle-remark">4</p>
      </div>
    </div>

  </div>

</div>
