<div class="sidebar">
  <nav>
    <ul>
      <li class="menu-item">
        <a href="" class="menu-item-link">
          <i class="cruise icon-dashboard menu-item-icon"></i>
          <span class="menu-item-text">DASHBOARD</span>
        </a>
      </li>
      <li class="menu-item men-item-selected">
        <a href="" class="menu-item-link">
          <i class="cruise icon-sitemap menu-item-icon"></i>
          <span class="menu-item-text">AGENT</span>
        </a>
      </li>
      <li class="menu-item">
        <a href="" class="menu-item-link">
          <i class="cruise icon-boat menu-item-icon"></i>
          <span class="menu-item-text">MYCRUISE</span>
        </a>
      </li>
      <li class="menu-item">
        <a href="" class="menu-item-link">
          <i class="cruise icon-life-bouy menu-item-icon"></i>
          <span class="menu-item-text">HELP</span>
        </a>
      </li>
    </ul>
  </nav>
  <div class="history">
    <div class="history-title">
      <span>History</span>
    </div>
    <ul class="history-panel">
      <li class="history-item">
        <span class="history-item-link">
          wwwwwwwwwwwwwwwww
        </span>
      </li>
      <li class="history-item">
        <span class="history-item-link">
          wwwwwwwwwwwwwwwww
        </span>
      </li>
      <li class="history-item">
        <span class="history-item-link">
          wwwwwwwwwwwwwwwww
        </span>
      </li>
      <li class="history-item">
        <span class="history-item-link">
          wwwwwwwwwwwwwwwww
        </span>
      </li>
      <li class="history-item">
        <span class="history-item-link">
          wwwwwwwwwwwwwwwww
        </span>
      </li>
      <li class="history-item">
        <span class="history-item-link">
          wwwwwwwwwwwwwwwww
        </span>
      </li>
      <li class="history-item">
        <span class="history-item-link">
          wwwwwwwwwwwwwwwww
        </span>
      </li>
      <li class="history-item">
        <span class="history-item-link">
          wwwwwwwwwwwwwwwww
        </span>
      </li>
      <li class="history-item">
        <span class="history-item-link">
          wwwwwwwwwwwwwwwww
        </span>
      </li>
      <li class="history-item">
        <span class="history-item-link">
          wwwwwwwwwwwwwwwww
        </span>
      </li>
    </ul>
  </div>
</div>
