<div class="operation margin-top-md clearfix">
  <div class="operation-tab float-left">
    <ul>
      <li class="operation-tab-item operation-tab-item-selected">
          ALL
      </li>
      <li class="operation-tab-item">
          Physical
      </li>
      <li class="operation-tab-item">
          Virtual
      </li>
    </ul>
  </div>
  <div class="float-left operation-searchbar">
    <div class="input-group">
      <span class="input-group-addon">
          <i class="cruise icon-search"></i>
      </span>
      <input type="text">
    </div>
  </div>

  <div class="float-right operation-toggle">
    <span>
      <i class="cruise icon-th-card operation-toggle-icon"></i>
    </span>
    <span>
      <i class="cruise icon-th-list operation-toggle-icon operation-toggle-icon-selected"></i>
    </span>
  </div>
</div>
